@model UsersViewModel;
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
<div style="width: 200px;">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    @using (Html.BeginForm("Register", "Account"))
    {
        <input asp-for="FirstName" class="form-control" placeholder="FirstName"/>
        <input asp-for="LastName" class="form-control" placeholder="LastName"/>
        <input asp-for="Email" value="@User.Identity.Name" readonly="readonly" class="form-control" />
        <input asp-for="SlackName" class="form-control" placeholder="SlackName"/>
        <input type="submit" class="form-control" name="Register" value="Register" />
    }
</div>