@using CorveTool.DAL.Context;
@using CorveTool.DAL.Models;
@using CorveTool.DAL.Repositories;
@{

    ViewData["Title"] = "Index";

    //for the days above
    DateTime input = DateTime.Now;
    int delta = DayOfWeek.Monday - input.DayOfWeek;
    DateTime monday = input.AddDays(delta);
    string mondaystring = monday.ToShortDateString();

    DateTime shortdate = DateTime.Parse(mondaystring);
    DateTime startday = DateTime.Parse(shortdate.ToString());
    DateTime endday = DateTime.Parse(shortdate.AddDays(6).ToString());

    //for the time
    DateTime startTime = DateTime.Parse("9:00:00");
    DateTime endTime = DateTime.Parse("17:00:00");


    List<ScheduleTaskViewModel> info = (List<ScheduleTaskViewModel>)ViewData["info"];
}

<h2>Schedule</h2>
<a href="schedule/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
<table class="table table-hover">
    <tr>
        <th>WeekNumber:</th>
        <th>Name:</th>
        <th>Actions:</th>
    </tr>
    @for (int i = 1; i < int.Parse(ViewData["weeknumbers"].ToString()) + 1; i++)
    {
        <tr>
            <td>WeekNumber @i.ToString(): </td>
            <td>
                @foreach (var item in info)
                {
                    @if (item.Week == i)
                    {
                        @item.User.ToString();   
                    }
                }
            </td>    
            <td>@Html.ActionLink("Edit", "Update", new { Week = i })</td>
        </tr>
    }
</table>
