@using CorveTool.DAL.Repositories;
@using CorveTool.DAL.Models;
@using CorveTool.DAL.Context;
@model TasksViewModel;
@{
    ViewData["Title"] = "Add";





}

<h2>Add a Task</h2>
<div style="width: 200px;">
@using (Html.BeginForm("Add", "Task")) { 
<form action="/" method="post">
    <input asp-for="Task" class="form-control"/>
    <input type="submit" class="form-control" name="Send task" value="Send task" />
</form>
}   
</div>





