@using CorveTool.DAL.Repositories;
@using CorveTool.DAL.Models;
@using CorveTool.DAL.Context;
@{
    ViewData["Title"] = "Index";


    List<TasksViewModel> tasks = (List<TasksViewModel>)ViewData["tasks"];



}

<h2>Tasks</h2>
<a href="Task/add" class="add-icon page-href"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Task</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in tasks)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Task</td>
            <td><a href="/../Task/Remove?id=@item.Id">Delete</a></td>
            <td>@Html.ActionLink("Edit", "Update", new { id = item.Id }, new { @class="page-href"})</td>
        </tr>
    }
</table>
