@model TasksViewModel
@{
    ViewData["Title"] = "Update"; 
}

<h2>Update</h2>
@using (Html.BeginForm("Update", "Task"))
{

    <input asp-for="Task" class="form-control" />
    <input type="submit" name="tasksend" value="Update Task" class="form-control"/>

}
@{ 
   

    
}